

.wrapper {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 200px);
    grid-gap: 30px;
    margin: auto;
    max-width: 990px;
}